/* MAIN STYLES */
.projects-container {
  margin-top: 2em;
  text-align: center;
}

#tw-projects {
  min-height: 100px !important;
}
/*-------------------------------------------------------------*/
/* SLIDER CATEGORY CONTROLS */
.checkIcon {
  max-width: 30px;
  padding-left: 5vw;
}

.MuiTouchRipple-root {
  left: 5vw !important;
  color: #A71212 !important;
}

@media (max-width: 600px) {
  .MuiFormControlLabel-label {
    display: none;
  }

  .checkIcon {
    padding-left: 7vw;
  }
}
/*-------------------------------------------------------------*/
/* SLIDER */
.slider-container {
  width: 70%;
  max-width: 650px;
  aspect-ratio: 1/1;
}

@supports not (aspect-ratio: 1/1) {
  .slider-container::before {
    float: left;
    padding-top: 100%;
    content: "";
  }

  .slider-container::after {
    display: block;
    content: "";
    clear: both;
  }
}
/*-------------------------------------------------------------*/
/* NAV DOTS */
.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #7e7e7e;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #A71212;
}
/*--------------------------------*/