/* MAIN STYLES */
.about-container {
  padding-top: 2em;
  top: 5vh !important;
  text-align: center;
}

#about-particlesBG {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -1;
}
/*-------------------------------------------------------------*/
/* PORTRAIT */
#portrait {
  width: 15vw !important;
  min-width: 200px !important;
  border-radius: 50% !important;
}
/*-------------------------------------------------------------*/
/* SKILLSET */
#icons-container {
  margin-bottom: 5em;
}

.vanish-icons {
  background-color: #212121;
  animation: vanishing 4s ease-in-out infinite;
  width: 75vw;
  max-width: 480px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@keyframes vanishing {
  0% { opacity: 1 }
  25% { opacity: 0 }
  50% { opacity: 1 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}

.icons {
  width: 25vw;
  max-width: 100px;
}

/*-------------------------------------------------------------*/
/* EXPERIENCE */
#experience-container {
  text-align: center;
  position: relative;
}

.experience-itemsA div:nth-of-type(1) {
  width: 6em !important;
  min-width: 6em !important;
  padding: 13px 5px; 
  white-space: nowrap;
}

.experience-itemsA div:nth-of-type(2) {
  min-width: 50px;
  text-align: center !important;
}

.experience-itemsB div:nth-of-type(2) {
  width: 6em !important;
  min-width: 6em !important;
  padding: 13px 5px; 
  white-space: nowrap;
  text-align: left;
}

.experience-itemsB div:nth-of-type(1) {
  min-width: 50px;
  text-align: center !important;
}

.MuiTimelineItem-missingOppositeContent:before { flex: 0 !important; padding: 6px !important;}

.dotIcons {
  width: 8vw;
  max-width: 35px;
  border-radius: 50%;
}

.dotIcons:hover {
  width: 9vw;
  max-width: 40px;
}

.MuiTimeline-root {
  padding: 6px 20px !important;
}

.MuiTimelineDot-root {
  padding: 0px !important;
  color: #A71212 !important;
  background-color: #A71212 !important;
  align-self: center !important;
}

.MuiTimelineConnector-root {
  background-color: #A71212 !important;
}

@media (max-width: 900px) {
  .MuiTimeline-root {
    padding: 6px 10px 0px 0px !important;
  }


}
/*-------------------------------------------------------------*/
/* CUSTOM DIALOG */
.dialog {
  background-color: white;
  transition: opacity 0.5s linear, width 0.4s linear, height 0.3s linear, visibility 0.5s ease-out !important;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  max-height: 226px;
  max-width: 940px;
}

.dialogOpen {
  width: 95vw;
  height:30vh;
  visibility: visible;
  opacity: 1;
}

.dialogClose {
  width: 0vw;
  height:0vh;
  visibility: hidden;
  opacity: 0;
}
/*-------------------------------------------------------------*/
/* EXPERIENCE DIALOGS */
.experiences-container {
  height: 100%;
}

.experiences-logos {
  display: flex;
  align-items: center;
}

.logos {
  width: 40vw;
  max-width: 200px;
  border-radius: 50%;
}
/*-------------------------------------------------------------*/
/* RESPONSIVE FUNCTIONS */
@media (max-width: 999px) {
  #text-container{
    padding: 0 1em 0 1em;
  }
}

@media (min-width: 1000px) {
  #portrait-container{
    text-align:right;
  }

  #text-container {
    text-align:left;
    padding: 7em 15em 0 5em;
  }

  .vanish-icons {
    width: 25vw;
  }
}
/*-------------------------------------------------------------*/
