/* MAIN STYLES */
.about-container {
  padding-top: 2em;
  top: 5vh !important;
  text-align: center;
}

#about-particlesBG {
  position: fixed;
  top: 0;
  height: 100%;
  z-index: -1;
}
/*-------------------------------------------------------------*/
/* PORTRAIT */
#portrait {
  width: 15vw !important;
  min-width: 200px !important;
  border-radius: 50% !important;
}
/*-------------------------------------------------------------*/
/* SKILLSET */
#icons-container {
  margin-bottom: 5em;
}

.vanish-icons {
  background-color: #212121;
  animation: vanishing 4s ease-in-out infinite;
  width: 75vw;
  max-width: 480px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

@keyframes vanishing {
  0% { opacity: 1 }
  25% { opacity: 0 }
  50% { opacity: 1 }
  75% { opacity: 0 }
  100% { opacity: 1 }
}

.icons {
  width: 25vw;
  max-width: 100px;
}

/*-------------------------------------------------------------*/
/* EXPERIENCE */
#experience-container {
  text-align: center;
}

.experience-items div:nth-of-type(1) {
  width: 6em !important;
  min-width: 6em !important;
  padding: 10% 16px; 
  white-space: nowrap;
}

.experience-items div:nth-of-type(2) {
  min-width: 45px;
}

.dotIcons {
  width: 8vw;
  max-width: 30px;
  border-radius: 50%;
 }

.MuiTimelineDot-root {
  padding: 0px !important;
  color: #A71212 !important;
  background-color: #A71212 !important;
  margin-left: 6px !important;
}

.MuiTimelineConnector-root {
  background-color: #A71212 !important;
}
/*-------------------------------------------------------------*/
/* RESPONSIVE FUNCTIONS */
@media (max-width: 999px) {
  #text-container{
    padding: 0 1em 0 1em;
  }
}

@media (min-width: 1000px) {
  #portrait-container{
    text-align:right;
  }

  #text-container {
    text-align:left;
    padding: 7em 15em 0 5em;
  }

  .vanish-icons {
    width: 25vw;
  }
}
/*-------------------------------------------------------------*/
