@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}
